body{
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 0; 
    color: #222222;
}

.clearfix:after {
    content: '';
    display: table;
    width: 100%;
    clear: both;
}
div{
    box-sizing: border-box;
}


header{
    background: url(../img/first-bg.jpeg) no-repeat center top / cover;
   padding-bottom: 160px;
}

.container {
    width: 930px;
	margin: 0 auto;
}

.logo {
    margin-top: 41px;
    float: left;
}

nav {
    float: right;
    margin-top: 50px;
}

.menu {
    padding: 0;
    margin: 0;
    display: block;

}

.menu li {
    float: left;
    display: block;
    margin-right: 41px;
}

.menu a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}

.titles__first {
    font-size: 40px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin-top: 180px;
}

h1 {
    font-size: 75px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin: 15px;
}

.button {
    background: #fed136;
    color: #484543;
    border-radius: 3px;
    display: block;
    width: 240px;
    padding: 20px 0px;
    margin: 0 auto;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18PX;
    margin-top: 50PX;
}

.title {
    padding-top: 115px;
}

.title h2 {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    margin: 0px;

}

.title p {
    color: #777777;
    text-align: center;
    font-size: 16px;
    margin-top: 5px;

}

.services {
    margin-top: 80px;
}

.services__item {
    width: 270px;
    float: left;
    text-align: center;

}

.services__item h3 {
    font-size: 18px;
    margin-bottom: 5px;
}

.services__item p {
    color: #777777;
    font-size: 14px;
    line-height: 1.55em;
}

.services__item:last-child {
    float: right;
}

.services__item:nth-child(2) {
   margin-left: 60px;
}

#services {
    padding-bottom: 120px;
}
#portfolio {
    background: #f7f7f7;
    padding-bottom: 120px;
}

.works img {
    float: left;
}

.works img:last-child {
    float: right;
}

.works img:nth-child(2) {
    margin-left: 29px;
}

.works {
    margin-top: 70px;
}

.us__left {
    margin-top: 90px;
    height: 180;
}

.us__text1 {
    width: 320px;
    text-align: right;
    float: left;
}

.us__left img {
    margin-left: 55px;
 float: left;
}

.us__right {
    margin-top: 90px;
    height: 180;
}

.us__text2 {
    width: 320px;
    text-align: left;
    float: right;
}

.us__right img {
    margin-right: 55px;
 float: right;
}